<ion-view view-title="TABLA MUTRICIONAL">
  <ion-content class="padding bar-color borde">
<ion-list>
<ion-toggle ng-model="TABLA NUTRICIONAL">
</ion-toggle> La información nutricional de un alimento se refiere a su valor energético y determinados nutrientes: grasas, grasas saturadas, hidratos de carbono, azúcares, proteínas y sal..
 </ion-list> 
</ion-content>
</ion-view>
    
        <iframe src="https://www.youtube.com/watch?v=bI2td8K_o-4" width="800" height="300" class="espacio"></iframe>

  	