<ion-view view-title="TABLA NUTRICIONAL">
 <ion-content class="padding bar-color borde1">
  

  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b> <div class='dna'>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
  <div class='protein'>
    <b></b>
    <b></b>
  </div>
</div>

  </ion-content>
</ion-view>
