<ion-view view-title="QUIMICA">
  <ion-content class="padding bar-color">
    <h1><center>LA IMPORTANCIA DEL AGUA EN EL CUERPO HUMANO</center></h1>
    <video src="https://www.youtube.com/watch?v=GdMkgexiHwk "></video>
    <p><h4><center>
    El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua.</center></h4><img src="https://previews.123rf.com/images/vectorkuk/vectorkuk1610/vectorkuk161000001/64224521-emo-patr%C3%B3n-sin-costuras-cr%C3%A1neos-y-huesos-de-color-rosa-sobre-fondo-negro-.jpg"></img>
    </p>
  </ion-content>
</ion-view>
